.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 15px;
  font-size: 30px;
}

.main-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

#todo-input, #date-input {
  margin: 20px;
}

#todo-input:hover, #date-input:hover {
  border-color: rgb(77, 131, 231);
}

#add-reminder {
  margin: 20px;
  padding: 8px 10px;    
  background: #2196f3;
  color: white;
  border-radius: 6px;
  border-color: white;
}
#add-reminder:hover {
  cursor: pointer;
  background-color: rgb(85, 164, 255);
}
