body {
    background: #eaf0f1;
}

.title {
    display: block;
    text-align: center;
    margin: 15px 0px 0px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: thin;
    font-size: 20px;
}

.main-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#reminder-button {
    margin-left: 30px;
}
#todo-input:hover, #date-input:hover {
   border-color: rgb(77, 131, 231);
}

.add-reminder {
    margin: 20px;
    padding: 8px 10px;    
    background: #2196f3;
    color: white;
    border-radius: 6px;
    border-color: white;
}

.add-reminder:hover {
    cursor: pointer;
    background-color: rgb(85, 164, 255);
}

.missing-alert {
    margin: auto;
    text-align: center;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}
/* view box css*/
.big-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reminder-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 80px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    position: relative;
}
.todo-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.to-do {
    font-weight: bold;
    margin: 5px;
}
.day-count {
    font-style: italic;
    font-size: 12px;
    color: black;
    margin: 5px;
}

.check-box {
    width: 30px;
    height: 30px;
    margin: 10px;
}

.close {
    position: absolute;
    right: -10px;
    top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}
.close:hover {
    border: 1px solid blue;
}

